
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
body{
	font-size: 14px;
	font-family: Arial,Helvetica,"Microsoft Yahei";
}
button, input {
    font-family: Arial,Helvetica,"Microsoft Yahei";
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: #555;
}
a:hover{
	text-decoration: underline;
}


.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
.clearfix{
	zoom:1;
}




.mod-calendar{
	position: relative;
	width: 600px;
	margin:0 auto 30px;
	background: #57abff;
	overflow: hidden;
	*zoom:1;
}
.mod-calendar a:hover{
	text-decoration: none;
}
.mod-calendar .info{
	float: right;
	position: relative;
	width: 170px;
	padding-top: 15px;
	text-align: center;
	color: #fff;
	*zoom:1;
}
.mod-calendar .info p{
	line-height: 22px;
}
.mod-calendar .info .day{
	width: 80px;
	height: 80px;
	margin: 15px auto 7px;
	line-height: 80px;
	font-size: 48px;
	background: #fb0;
	border-radius: 2px;
}
.mod-calendar .info .festival{
	margin: 15px 10px;
	padding-top: 15px;
	border-top: 1px dotted #fefefe;
}
.mod-calendar .box{
	margin-right: 170px;
	padding: 10px;
	border: 2px solid #57abff;
	background: #fff;
	_margin-right:0;
	_float:left;
	_width:404px;
}
.mod-calendar .selector{
	vertical-align: middle;
	margin-bottom: 10px;
	overflow:hidden;
}
.mod-calendar .selector a{
	float: left;
	position: relative;
	height:24px;
	padding: 0 5px;
	border:1px solid #ebebeb;
	background: #fafafa;
	line-height: 24px;
	vertical-align: middle;
	_display:inline;
	_height:20px;
	_line-height:20px;
}
.mod-calendar .selector a:hover{
	border-color: #57abff;
	color: #57abff;
}
.mod-calendar .goback{
	margin-left: 7px;
	_white-space: nowrap;
}
.mod-calendar .prev{
	left: 1px;
}
.mod-calendar .next{
	margin-right: 7px;
	right: 1px;
}
.mod-calendar select{
	float: left;
	min-width:60px;
	height:26px;
	padding-left: 4px;
	border:1px solid #ebebeb;
	background: none;
	line-height:24px;
	vertical-align: middle;
	font-size: 14px;
	color: #333;
	outline: none;
	_width:80px;
}
.mod-calendar select.year,.mod-calendar select.month{
	_width:70px;
}
.mod-calendar button{
	height: 26px;
	border:1px solid #ebebeb;
	line-height: 24px;
	background: #fafafa;
}
.mod-calendar table{
	width: 100%;
    table-layout: fixed;
	color: #666;
}
.mod-calendar tr{
	border-top:1px solid #ebebeb;
}
.mod-calendar th,.mod-calendar td{
	text-align: center;
}
.mod-calendar th{
	line-height: 40px;
	font-weight: normal;
}
.mod-calendar td{
	position: relative;
	line-height: 22px;
}
.mod-calendar tbody a{
	display: block;
	width: 55px;
	padding: 6px 1px;
	border-right: 1px solid #fff;
	cursor: pointer;
}
.mod-calendar tbody a.active,.mod-calendar tbody a:hover{
	padding: 5px 0;
	border:1px solid #fc0;
}
.mod-calendar tbody span{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mod-calendar tbody i{
	position: absolute;
	left: 2px;
	top: 0;
	line-height: 20px;
	font-style: normal;
	color: #fff;
}
.mod-calendar .s1{
	color:#212121;
}
.mod-calendar .s2{
	color:#757575;
}
.mod-calendar .holiday a{
	background: #f1f9f1;
}
.mod-calendar .holiday i{
	color:#4bae4f;
}
.mod-calendar .work a{
	background: #fef0ef;
}
.mod-calendar .work i{
	color:#f44336;
}
.mod-calendar .today a{
	background: #fc0;
}
.mod-calendar .today span{
	color: #fff;
}
.mod-calendar .disabled a{
	background: #fff;
}
.mod-calendar .disabled .s1,.mod-calendar .disabled .s2{
	color:#bdbdbd;
}

.mod-holiday{
	width:100%;
	max-width:960px;
	margin:0 auto 30px;
	_width:960px;
}
.mod-holiday table{
	width: 100%;
	border:1px solid #ccc;
}
.mod-holiday thead{
	background: #f5f5f5;
}
.mod-holiday th,.mod-holiday td{
	height: 42px;
	text-align: center;
}
.mod-holiday th{
	color:#212121;
}
.mod-holiday td{
	border:1px solid #ccc;
}


